@import "../../assets/scss/variables.scss";

.playground_height {
  height: calc(100vh - 60px);
}

.illustration_header {
  font-size: $font-20;
  font-family: $firaSans;
  text-align: center;
  color: $primaryColor;
  margin: 10px;
}

.illustration_body {
  font-size: $font-14;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: $secondaryColor;
}

.searched_history_banner {
  height: 10%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searched_history_text {
  margin: 0;
  font-size: $font-14;
  color: $primaryColor;
  text-align: center;
}
.semibold {
  font-weight: $medium;
  color: $secondaryColor;
}

.product_list_wrapper {
  height: 90%;
  overflow: auto;
}
