@import "../../assets/scss/variables.scss";

.playground_height {
  height: calc(100vh - 60px);
  overflow: auto;
}

.price_summary_card {
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 10px 0 rgba($primaryColor, 0.15);
  border-radius: 10px;
}

.card_header {
  padding: 15px;
  background-color: $white;
  border: 1px solid rgba($secondaryColor, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .card_header_title {
    font-family: $firaSans;
    font-size: $font-18;
    font-weight: $medium;
    text-align: left;
    color: $primaryColor;
    margin: 0;
  }
}

.card_body {
  padding: 15px;

  .card_body_text {
    font-size: $font-14;
    text-align: left;
    color: $secondaryColor;
    margin: 0;
  }
}

.illustration_header {
  font-size: $font-20;
  font-family: $firaSans;
  text-align: center;
  color: $primaryColor;
  margin: 10px;
}

.illustration_body {
  font-size: $font-14;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: $secondaryColor;
}

.sub_total_text {
  font-size: $font-16;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}

.cart_label {
  font-family: $firaSans;
  font-size: $font-20;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}
