@import "../../assets/scss/variables.scss";

.playground_height {
  height: calc(100vh - 60px);
  overflow: auto;
}

.cart_label {
  font-family: $firaSans;
  font-size: $font-20;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}

.illustration_header {
  font-size: $font-20;
  font-family: $firaSans;
  text-align: center;
  color: $primaryColor;
  margin: 10px;
}

.illustration_body {
  font-size: $font-14;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: $secondaryColor;
}

.orders_card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba($primaryColor, 0.15);
  background-color: $white;
}

.card_header_title {
  font-family: $firaSans;
  font-size: $font-20;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}

.card_body_text {
  font-size: $font-16;
  text-align: left;
  color: $secondaryColor;
  margin: 0;
}

.product_name {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: $font-18;
  font-weight: $medium;
  color: $primaryColor;
  margin: 0;
}

.address_type_label {
  font-size: $font-14;
  color: $secondaryColor;
  margin: 0;
}

.address_name_and_phone {
  font-size: $font-16;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}

.address_line_1 {
  font-size: $font-14;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}

.address_line_2 {
  font-size: $font-14;
  text-align: left;
  color: $secondaryColor;
  margin: 0;
}

.product_price {
  font-size: $font-16;
  font-weight: $medium;
  color: $secondaryColor;
  margin: 0;
}

.status_indicator {
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.status_value {
  font-size: $font-14;
  font-weight: $medium;
  margin: 0;
  padding: 5px 0 0;
}

.status_bar {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  position: relative;
  top: 8px;
}

.return_button {
  width: 100px;
  height: 40px;
  background-color: $white;
  border: 1px solid $secondaryColor;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  color: $secondaryColor;
}

.return_button:hover {
  background-color: $secondaryColor;
  color: $white;
  transition: all 0.3s;
}

.cancel_button {
  width: 100px;
  height: 40px;
  background-color: $white;
  border: 1px solid $error;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  color: $error;
}

.cancel_button:hover {
  background-color: $error;
  color: $white;
  transition: all 0.3s;
}
